header {
    background-color: rgb(40, 40, 40);
    height: 30px;
    width: 100%;
    opacity: .8;
    margin-bottom: 8px;
}
   
h1 {
    margin: 0;
    font-size: 1.5em;
    color: white;
    float: left;
}

h2 {
    font-size: 2.5em;
    margin: 10px 0px;
    text-align: center;
}
   
h3 {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 5px;
    letter-spacing: -1px;
    color: #999;
}

body {
    background:rgb(50, 50, 50);
    color: #444;
    font-family: "Helvetica Neue", Helvetica;
    margin: 0;
    padding: 0;
    
}

.credit {
    color: #00DEFF;
    font-weight: bold;
    font-size: 1.5em;
    float: right;
}

input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.searchbutton {
    background-color: #00DEFF;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.description{
    color: rgb(60, 90, 90);
    text-align: center;
    margin-bottom: 10px;
}

.hint{
    color:  rgb(0, 100, 10);
    text-align: center;
    margin-bottom: 10px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

div.jumbo {
    text-align: center;
    margin: 10px 0px 20px 0px;
    padding: 10px 0 20px 0;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}

formcontainer{
    text-align: center;
}


.warning {
    color: red;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}

.topwords {
    margin: 15px 0px;
    color: white;
}

.doughnut { 
    border: 20px solid #00DEFF;
    border-radius: 200px;
    height:200px;
    width:200px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    margin: 10px;
}

.tweet {
    border: 2px solid #00DEFF;
    color: white;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 16px;
    float: left;
    clear: left;
}

.tweet-displayname {
    color: #00DEFF;
    font-weight: bold;
}
