{% extends "main.html" %} {% block content %}
<div class="jumbo">
  <h2>Search Twitter</h2>
  <div class="description">This is a Python app developed to demonstrate the OpenShift S2i capability.
    </br>Enter a word to find the top 10 tweets related to it and the top 4 words used along with your search query.
  </div>
  <div class="formcontainer">
    <form onsubmit="Handle(event);">
      <input id="searchbox" type="text" name="searchbox" value="OpenShift">
      <input id="searchbutton" class="searchbutton" type="button" name="button" value="Search" onClick="Search(this.form.searchbox.value)">
    </form>
    <div class="warning">WARNING! Be thoughtful when selecting a search word.</div>
    <div class="hint">Hint: Don't use one-word abbreviations. Even innocent words can lead to unexpected results. Try "red hat" and not "redhat".</div>
    <div>Disclaimer: Some effort has been made to avoid the display of inappropriate tweets but this depends on the word(s) you
      search for.</div>
    <div>Read more from Twitter itself
      <a href="https://help.twitter.com/en/safety-and-security/offensive-tweets-and-content">here</a>.</div>
  </div>
</div>
{% endblock %}