<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <title>Twitter Search</title>
    <strong>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </strong>
</head>

<body>
    <header>
        <div class="container">
            <h1>Twitter Search</h1>
            <span class="credit">@YGeorgiou</span>
        </div>
    </header>

    <div class="container">

        {% block content %} {% endblock %}

        <div id="warnings">
            <!-- Insert warnings here -->
        </div>

        <h3 id="htopwords" style="visibility: hidden">Top 4 Words</h3>
        <table class="topwords">
            <tr id="topwords">
                <!-- Insert top words here -->
            </tr>
        </table>

        <h3 id="htoptweets" style="visibility: hidden">Top 10 Tweets</h3>
        <ul id="toptweets">
            <!-- Insert top tweets here -->
        </ul>
    </div>
</body>

</html>